
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Bus Linie</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Bus Linie", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                      
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Bus List", "Index", "Bus")</li>
                            <li>@Html.ActionLink("Country", "Index", "Country")</li>   
                            <li>@Html.ActionLink("city", "Index", "city")</li> 
                            <li>@Html.ActionLink("customer", "Index", "customer")</li>                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Contoso University</p>
                </div>
            </div>
        </footer>
    </body>
</html>